.container{
	border:2px solid black;
	padding:15px;
	width:200px;
	border-radius:8px;
	background-color:#f9f9f9;
	text-align:center;
}
button{
	background-color:blue;
}
body{
	background-color:pink;
}